<!DOCTYPE html>
<html>
<head>
    <title>About Project</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <span>🔐 Cloud Security Analyzer</span>
    <div>
        <a href="/">Home</a>
        <a href="/analyze">Analyzer</a>
        <a href="/about">About</a>
    </div>
</div>

<div class="container">
    <h2>About This Project</h2>

    <p>
        This Cloud Security Misconfiguration Analyzer is a full-stack web
        application designed to detect insecure cloud configurations.
    </p>

    <h3>Technologies Used</h3>
    <ul>
        <li>Python & Flask</li>
        <li>HTML, CSS</li>
        <li>Rule-Based Security Analysis</li>
    </ul>

    <h3>Objective</h3>
    <p>
        To help identify cloud security risks early and improve cloud posture.
    </p>
</div>

<footer>
    Analyzer
</footer>

</body>
</html>
