<!DOCTYPE html>
<html>
<head>
    <title>Cloud Security Analyzer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <span>🔐 Cloud Security Analyzer</span>
    <div>
        <a href="/">Home</a>
        <a href="/analyze">Analyzer</a>
        <a href="/about">About</a>
    </div>
</div>

<div class="hero">
    <h1>Secure Your Cloud Infrastructure</h1>
    <p>Detect cloud security misconfigurations instantly</p>
    <a href="/analyze" class="btn">Start Analyzing</a>
</div>

<footer>
     | Cloud Security |
</footer>

</body>
</html>
